<h1 class="usa-heading-xl"><%= @title %></h1>

<% tabs = [
  { name: "Open", path: polymorphic_path(@model_class), active: action_name == "index" },
  { name: "Closed", path: polymorphic_path(@model_class, action: "closed"), active: action_name == "closed" }
] %>

<nav class="display-flex border-bottom-1px border-base-light">
  <% tabs.each do |tab| %>
    <%= render partial: "strata/cases/nav_tab", locals: tab %>
  <% end %>
</nav>

<%= render Strata::US::TableComponent.new(borderless: true, classes: "width-full") do |table| %>
  <% @case_row_component_class.headers.each do |header| %>
    <% table.with_header { header } %>
  <% end %>

  <% if @cases.any? %>
    <% @cases.each do |kase| %>
      <% table.with_row do %>
        <%= render @case_row_component_class.new(kase:) %>
      <% end %>
    <% end %>
  <% else %>
    <% table.with_row do %>
      <td colspan="<%= @case_row_component_class.columns.count %>" class="text-center">No cases</td>
    <% end %>
  <% end %>
<% end %>
