<%= content_for :title, model_class.name.titleize %>

  <!-- Main content -->
  <main class="usa-section">
    <div class="grid-container">
      <h1 class="usa-heading-xl"><%= model_class.name.titleize.sub('Case', ' Cases') %></h1>

      <% tabs = [
        { name: "Open", path: polymorphic_path(model_class), active: action_name == "index" },
        { name: "Closed", path: polymorphic_path(model_class, action: "closed"), active: action_name == "closed" }
      ] %>

      <nav class="display-flex border-bottom-1px border-base-light">
        <% tabs.each do |tab| %>
          <%= render partial: "flex/cases/nav_tab", locals: tab %>
        <% end %>
      </nav>

      <!-- Cases -->
      <table class="usa-table usa-table--borderless usa-table--striped">
        <thead>
          <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Created</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if @cases.any? %>
            <% @cases.each do |kase| %>
              <tr>
                <td><%= kase.id %></td>
                <td><%= kase.created_at.strftime('%m/%d/%Y') %></td>
                <td>
                  <%= link_to "View", polymorphic_path(kase), class: "usa-button usa-button--outline" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center">No cases</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
</div>
