<%# Index view for displaying a list of application forms
    Required locals:
    - title: String - Page title
    - intro: String - Introduction text
    - new_button_text: String - Text for the "New" button
    - in_progress_applications_heading: String - Heading for the in-progress section
    - application_forms: Array<Hash> - List of application form data with keys:
        - created_at: String
        - path: String
        - status: Symbol

    Example usage:
    render template: "flex/application_forms/index", locals: {
      title: t(".title"),
      intro: t(".intro"),
      new_button_text: t(".new_button"),
      in_progress_applications_heading: t(".in_progress_applications.heading"),
      application_forms: @application_forms.map { |form| {
        created_at: form.created_at.strftime("%B %d, %Y at %I:%M %p"),
        path: application_form_path(form),
        status: form.status
      }}
    }
%>

<% content_for :title, title %>

<h1>
  <%= title %>
</h1>

<p class="usa-intro">
  <%= intro %>
</p>

<%= link_to new_button_text, "new", class: class_names("usa-button") %>

<% if not application_forms.empty? %>
  <h2 class="margin-top-6"><%= in_progress_applications_heading %></h2>

  <section class="d-flex flex-column flex-md-row gap-4 align-items-start justify-content-between">
    <table class="usa-table usa-table--borderless width-full">
      <thead>
        <tr>
          <th scope="col">
            <%= t("flex.application_forms.index.col_created_at") %>
          </th>
          <th scope="col">
            <%= t("flex.application_forms.index.col_status") %>
          </th>
          <th scope="col">
            <%= t("flex.application_forms.index.col_actions") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% application_forms.each do |application_form| %>
          <tr>
            <td>
              <% # TODO show in local time %>
              <%= link_to application_form[:created_at], application_form[:path] %>
            </td>
            <td>
              <%= t("flex.application_forms.statuses.#{application_form[:status]}") %>
            </td>
            <td>
              TODO
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>
