<%# Index view for displaying a list of tasks
  Required locals:
  - tasks: Flex::Task[] - Array of tasks to display
 %>
<!-- Main content -->
<main class="usa-section">
  <div class="grid-container">
    <h1 class="usa-heading-xl"><%= t("flex.tasks.index.title") %></h1>
    <nav class="display-flex border-bottom-1px border-base-light">
      <% 
        filter_params = params.permit(:filter_date, :filter_type, :filter_status)
        [
          { 
            name: t("flex.tasks.index.tabs.assigned"), 
            path: url_for(filter_params.merge(filter_status: nil)), 
            active: params[:filter_status] != "completed" 
          },
          { 
            name: t("flex.tasks.index.tabs.completed"), 
            path: url_for(filter_params.merge(filter_status: "completed")), 
            active: params[:filter_status] == "completed" 
          }
        ].each do |tab| 
      %>
      <%= render partial: "flex/cases/nav_tab", locals: tab %>
    <% end %>
  </nav>
  <!-- Filters -->
  <div class="grid-row grid-gap-4 margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-3">
      <%= render partial: 'flex/tasks/type_filter', locals: { task_types: task_types } %>
    </div>
    <div class="grid-col-12 tablet:grid-col-3">
      <%= render partial: 'flex/tasks/due_date_filter' %>
    </div>
  </div>
  <% if tasks.any? %>
    <!-- Tasks -->
    <table class="usa-table usa-table--striped usa-table--sticky-header width-full">
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader" aria-sort="descending">
            <%= t("flex.tasks.index.columns.col_due_date") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%= t("flex.tasks.index.columns.col_type") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%= t("flex.tasks.index.columns.col_case_id") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%= t("flex.tasks.index.columns.col_created_date") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%
          tasks.each do |task|
          %>
        <tr>
          <td data-sort-value="<%= time_since_epoch task.due_on %>">
            <%= local_en_us task.due_on %>
          </td>
          <td data-sort-value="<%= task.type %>">
            <%= link_to t("tasks.types.#{task.type.underscore}"), task_path(task) %>
          </td>
          <td data-sort-value="<%= task.case_id %>"><%= task.case_id %></td>
          <td data-sort-value="<%= time_since_epoch task.created_at %>">
            <%= local_en_us task.created_at.to_date %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
<% else %>
  <%= render partial: 'flex/tasks/no_tasks_alert' %>
<% end %>
</div>
</div>
</main>
